<div class="row">
  <div class="span12">
    <div class="signup">
      <div class="headline">
        <h1>Stop Writing And Cashing Rent Checks</h1>

        <h2 class="lead">Rentr Is A Payment System For Independant Landlords and Tenants</h2>
      </div>
      <form class="form-horizontal offset3">
        <div class="control-group">
          <label class="control-label" for="first_name">First Name</label>
          <div class="controls">
            {{view App.NameTextField viewName="firstName" valueBinding="firstName"}}
            <span {{bindAttr class="firstNameError:show:hide"}}>
              <i bindAttr class="icon-remove"></i>
              First Name is required
            </span>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="last_name">Last Name</label>
          <div class="controls">
            {{view App.NameTextField viewName="lastName" valueBinding="lastName"}}
            <span {{bindAttr class="lastNameError:show:hide"}}>
              <i bindAttr class="icon-remove"></i>
              Last Name is required
            </span>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="email">Email</label>
          <div class="controls">
            {{view App.NameTextField viewName="email" valueBinding="email"}}
            <span {{bindAttr class="emailError:show:hide"}}>
              <i bindAttr class="icon-remove"></i>
              Not a valid email
            </span>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="password">Password</label>
          <div class="controls">
            {{view App.NameTextField viewName="password" valueBinding="password" type="password"}}
            <span {{bindAttr class="passwordError:show:hide"}}>
              <i bindAttr class="icon-remove"></i>
              Password must be at least 6 characters
            </span>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="">Account Type</label>
          <div class="controls">
            {{#view Ember.RadioButtonGroup name="accountType" required="true" valueBinding="accountType"}}
              <label class="radio">
                {{view RadioButton checked='false' value="landlord"}}
                Landlord
              </label>
              <label class="radio">
                {{view RadioButton checked='false' required="true" value="tenant"}}
                Tenant
              </label>
            {{/view}}
          </div>

        </div>
        <div class="control-group">
          
          <div class="controls">
            <input class="btn btn-primary" {{ action createUser }} type="submit" value="Sign Up">
          </div>
          
        </div>
      </form>

    </div>

  </div>
  
</div>